/* para todos los titulos u subtitulos quiero usar una misma tipo de fuente */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}


/* CSS personalizado para los títulos con líneas */
.title-with-line {
    position: relative;
    display: inline-block;
}

.title-with-line::after {
    content: '';
    position: absolute;
    left: 100%;
    /* Colocar después del texto */
    top: 50%;
    transform: translateY(-50%);
    width: 200%;
    /* o el largo que necesites */
    height: 1px;
    /* el grosor de la línea */
    background-color: #333;
    /* el color de la línea */
    margin-left: 16px;
    /* distancia entre el texto y la línea */
}

/* Personalización del botón para que coincida con la maquetación */
.btn-verde {
    background-color: #2a9d8f;
    /* El color de fondo puede ser el que necesites */
    color: #ffffff;
    /* El color del texto en contraste con el botón */
    padding: 10px 20px;
    /* Ajusta el relleno según el diseño */
    border-radius: 0.375rem;
    /* 6px de border radius */
    font-weight: 700;
    /* Fuente en negrita */
    transition: background-color 0.3s;
    /* Transición suave de color de fondo */
}

.btn-verde:hover {
    background-color: #1b6f5c;
    /* Color más oscuro para el estado hover */
}

.informacion-contacto,
.suscripcion {
    padding: 2rem;
    border: 1px solid #ffffff;
    /* Borde del color de fondo para que se note */
}

/* Estilos personalizados para el botón */
.button-with-line {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    font-size: 0.875rem; /* Tamaño del texto */
    display: inline-flex; /* Para alinear ícono y texto */
    align-items: center; /* Centrar elementos verticalmente */
    position: relative; /* Para la línea pseudo-elemento */
    justify-content: space-between; /* Distribuye el espacio */
    width: 150px; /* Anchura específica para el botón */
}

.button-with-line::after {
    content: '';
    height: 1px; /* Grosor de la línea */
    background: #fff; /* Color de la línea */
    flex-grow: 1; /* La línea ocupa el espacio que sobra */
    margin-left: 10px; /* Espaciado entre el texto y la línea */
}


